.footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.footer p {
    font-weight: 500;
    color: var(--color-ultra-light);
    text-align: center;
    margin-bottom: 26px;
}

.footer p a {
    color: var(--color-ultra-light);
    font-weight: 700;
}
